<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form th:action="@{/classRoom/create}" method="post" th:object="${class}">
    <input type="hidden" th:field="*{user.id}" value="1"/>
    <label for="class_name">Class name</label>
    <input id="class_name" th:field="*{className}"/>
    <label for="grade_level">Grade level</label>
    <select id="grade_level" name="grade_level" th:field="*{gradeLevel}" >
        <option value="todler">Pre-k and younger</option>
        <option value="kindergarten">Kindergarten</option>
        <option value="first">1st</option>
        <option value="second">2nd</option>
        <option value="third">3rd</option>
        <option value="fourth">4th</option>
        <option value="fifth">5th</option>
        <option value="sixth">6th</option>
    </select>
    <br/>
    <input type="submit"/>
</form>
</body>
</html>