<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form th:action="@{/attendance/add}" method="post" th:object="${attendance}">
    <select th:field="*{student.id}">
        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.f_name}"></option>
    </select>
    <label for="status">Attendance</label>
    <select id="status" name="status">
        <option value="Present">Present</option>
        <option value="Tardy">Tardy</option>
        <option value="Absent">Absent</option>
    </select>
    <br/>
    <label for="date">Date</label>
    <input id="date" th:field="*{date}" placeholder="2017-11-27"/>
    <input type="submit"/>
</form>
</body>
</html>