<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer">
   KidSync footer!!

    <!-- jQuery Library -->
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"/>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.js"/>
    <!--prism-->
    <script type="text/javascript" src="js/prism.js"/>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"/>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.js"/>
</footer>

</body>
</html>