<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="main-header(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/login-style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Custome CSS-->
    <link href="css/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/page-center.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
</body>
</html>