<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>

</head>
<body>
<nav class="white" id="my-nav" th:fragment="mainNavbar" role="navigation">
    <div class="nav-wrapper container">
            <a id="logo-container" href="/home" class="brand-logo"><img src="img/kidsync-04.png" width="155"/>Home</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <span sec:authorize="!isAuthenticated()"><a href="/signUp">Register</a></span>
                </li>
                <li>
                    <span sec:authorize="!isAuthenticated()"><a href="/login">Login</a></span>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        Logged in as <span th:text="${#authentication.principal.f_name}"> &nbsp;</span>
                        <button class="waves-effect waves-light btn center-align" type="submit" style="margin-left:10px;padding-left:10px;padding-right:10px;">Logout</button>
                    </form>
                </li>
            </ul>
    </div>
</nav>

</body>
</html>