<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>

</head>
<body>
<nav class="white" id="my-nav" th:fragment="mainNavbar" role="navigation">
    <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><img src="img/kidsync-04.png" width="155"/></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <span sec:authorize="!isAuthenticated()"><a href="">Register</a></span>
                </li>
                <li>
                    <span sec:authorize="!isAuthenticated()"><a href="/login">Login</a></span>
                </li>
                <li>
                     <span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.f_name}">
                         <a href="/logout">Logout</a>
                    </span>
                </li>

            </ul>
    </div>
</nav>

</body>
</html>