<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Dashboard | KidSYNC</title>
    <meta name="author" content=""/>
    <script type="text/javascript">
        //<![CDATA[
        window.__cfRocketOptions = {byc:0,p:0,petok:"5c03b4243731ac721afa320f85d2251a94f5c70e-1511912244-1800"};
        //]]>
    </script>
    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>
    <script type="text/javascript" src="https://ajax.cloudflare.com/cdn-cgi/scripts/0e574bed/cloudflare-static/rocket.min.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="css/custom-style.css" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="css/prettify.css" rel="stylesheet" type="text/css"/>
    <link href="css/admin.css" rel="stylesheet" type="text/css"/>
    <link href="css/pages/dashboard.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon"/>


</head>
<body>
<!--<nav th:include="fragments/parents-navbar :: parentNavbar">here</nav>-->
<header>
    <div class="navbar-fixed">
        <nav th:fragment="parentNavbar" role="navigation">
            <div class="nav-wrapper"> <a href="#!" class="brand-logo"><img src="img/kidsync-04.png"/></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down" style="margin-right: 40px;">
                    <li>
                        <span sec:authorize="!isAuthenticated()"><a href="/signUp">Register</a></span>
                    </li>
                    <li>
                        <span sec:authorize="!isAuthenticated()"><a href="/login">Login</a></span>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            Welcome, <span th:text="${#authentication.principal.f_name}"> &nbsp;</span>
                            <button class="waves-effect waves-light btn center-align" type="submit" style="margin-left:10px;padding-left:10px;padding-right:10px;">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Move the sidenav outside of .navbar-fixed -->
    <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Home</a></li>
        <li>
            <span sec:authorize="!isAuthenticated()"><a href="/signUp">Register</a></span>
        </li>
        <li>
            <span sec:authorize="!isAuthenticated()"><a href="/login">Login</a></span>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <input class="waves-effect waves-light center-align" type="submit" value="Logout" style="margin-left:15px;padding-left:10px;padding-right:10px;position:relative;font-size:0.95rem;font-weight:500;color:rgba(0,0,0,0.87)"/>
            </form>
        </li>
    </ul>
</header>
<main>
    <div class="main-content no-gutter">
        <section id="dashboard">
            <div>
                <img class="banner-img responsive-img" src="img/Education.ks.jpg"/>
            </div>
            <div class="row">
                <div class="row">
                    <!--**********  Students  **********-->
                    <div class="pad s12 teal">
                        <div id="boxRecentOrders" class="panel panel-bordered panel-dashboard panel-table z-depth-1">
                            <div class="panel-header teal lighten-5">
                                <div class="title">
                                    My Student(s)
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="myStudents" class="col-md-6">
                                    <div class="collection" th:each="student : ${students}">
                                        <strong><p  th:text="${student.f_name} + ' ' + ${student.l_name}"></p></strong>
                                        <p th:text="${student.classroom.className} + '\'s Class'"></p>
                                        <a class="waves-effect waves-light btn" th:href="@{'/grades/view/' + ${student.id}}">View Grades</a>
                                        <a class="waves-effect waves-light btn" th:href="@{'/attendance/view/' + ${student.id}}">View attendance</a>
                                        <a class="waves-effect waves-light btn" th:href="@{'/healthLog/view/' + ${student.id}}">View Health Log</a>
                                        <a class="waves-effect waves-light btn" th:href="@{'/mystudent/edit/' + ${student.id}}">Change Classroom</a>
                                        <!--<p th:text="${student.grades.rating}">-->

                                        <!--</p>-->
                                    </div>
                                        <a class="blue darken-3 btn"  th:href="${'/students/add'}">Add Student</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                <div class="pad s12 m12 blue accent-2">
                    <div id="boxTotalSales" class="panel panel-bordered panel-dashboard panel-bar-chart z-depth-1">
                        <div class="panel-header indigo lighten-5">
                            <div class="title">
                                <!--<h5 th:text="${classroom.className}"></h5>-->
                            </div>
                            <div class="subtitle">
                            </div>
                        </div>
                        <div class="panel-body" >
                            <div id="chartTotalSales" class="chart-wrapper">
                                <!--*********** MAIN CALENDAR  **************-->
                                <div class="responsiveCal center-align">
                                    <iframe src="https://calendar.google.com/calendar/embed?src=7j58eurohtqvofi4hl2t290168%40group.calendar.google.com&ctz;=America/Chicago"
                                            style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 center-align">
                                <a class="waves-effect waves-light btn" href="https://kidsync.youcanbook.me/" data-ycbm-modal="true" target="_blank">Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                </div>
            <div class="row">
                <div class="pad m6 blue darken-2">
                    <div id="boxChat" class="panel  panel-bordered panel-dashboard panel-chat z-depth-1">
                        <div class="panel-header indigo lighten-5">
                            <div class="title">
                                Chat
                            </div>
                            <div class="subtitle">
                                Incoming messages
                            </div>
                        </div>
                        <div>

                            <div style="height: 255px;" id="rt-f45965b32a0a9537f0064b2362625fd2"></div>
                            <script src="https://www.rumbletalk.com/client/?wCjY7jB7"></script>
                        </div>
                    </div>
                </div>


            </div>
            </div>
        </section>
    </div>
</main>

<footer class="page-footer">
    <div>
        Translate to your preferred languge!!

    <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <div class="brand-logo">
                    <!--<img src="/img/login-logo.png" />-->
                    <h5 class="valign">KidSYNC</h5>
                </div>
                <p>Making things a bit easier</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Events</h5>
                <p>Event List</p>
            </div>
            <div class="col l2 offset-l1 s12 footer-links">
                <h5>Links</h5>
                <ul>
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="css_color.html">Calendar</a></li>
                    <li><a href="components_badges.html">Messaging</a></li>
                    <li><a href="aboutUs">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 KidSYNC, All rights reserved.
        </div>
    </div>
</footer>

<script data-rocketsrc="bower_components/jquery/dist/jquery.js" type="text/rocketscript"></script>
<script data-rocketsrc="js/materialize.js" type="text/rocketscript"></script>
<script data-rocketsrc="js/prettify.js" type="text/rocketscript"></script>
<script data-rocketsrc="js/admin.js" type="text/rocketscript"></script>
<!--<script type="text/javascript" src="/js/chatBox.js"></script>-->

<!--****  Chat Box  ****-->
<!--<div id="rt-ce067dad2464d593ee55a39d2be44486"></div><script src="https://www.rumbletalk.com/client/?fdPx@aEX"></script>-->

</body>
</html>