<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: main-header('Your Home Page')"></head>
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Welcome</title>-->
<!--</head>-->
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<p>
<h1> Welcome to YOUR Kidsync's Home Page!!</h1>
</p>
<div>
    <p>
        View current appintments and copy to your personal calendar
    </p>
    <br />
    <iframe src="https://calendar.google.com/calendar/embed?src=7j58eurohtqvofi4hl2t290168%40group.calendar.google.com&ctz;=America/Chicago"
            style="border: 0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
</div>
<div class="col-md-6">
    <!--<a th:href="${'teacher'}" class="btn btn-block btn-warning">Teacher</a>-->
    <a th:href="${'signUp'}" class="btn btn-block btn-warning">Set an appointment with the teacher</a>

    <!--<br />-->
</div>

</body>
</html>