<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--Must user header fragment or will break-->
<head th:replace="fragments/header :: main-header('Register')"/>

<body class="cyan">
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
        <form th:action="@{/register}" method="POST" th:object="${user}" class="login-form">
        <div class="row">
                <div class="input-field col s12 center">
                    <img src="img/kidsync-02.png" width="150"/>
                    <h5>Parent Registration</h5>
                    <p class="center">Join to our community now !</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"><img src="img/users.png" width="25"/></i>
                    <input id="f_name" type="text" th:field="*{f_name}"/>
                    <label for="f_name">First Name</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"><img src="img/users.png" width="25"/></i>
                    <input id="l_name" type="text" th:field="*{l_name}"/>
                    <label for="l_name">Last Name</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-communication-email prefix"><img src="img/email.png" width="25"/></i>
                    <input id="email" type="text" th:field="*{email}"/>
                    <label for="email" class="center-align">Email</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"><img src="img/key.png" width="25"/></i>
                    <input id="password" type="password" th:field="*{password}"/>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"><img src="img/smartphone.png" width="25"/></i>
                    <input id="phone" type="text" th:field="*{phone}"/>
                    <label for="phone">Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="submit" class="btn waves-effect waves-light col s12" value="Register"/>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- jQuery Library -->
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="js/materialize.js"></script>
<!--prism-->
<script type="text/javascript" src="js/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="js/plugins.js"></script>
</body>
</html>
