.bg-green {
    background-color: #4CAF50 !important;
    color: #fff;
}

.bg-yellow {
    background-color: #fded39 !important;
    color: #fff;
}

.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}