.bg-green {
    background-color: #4CAF50 !important;
    color: #fff;
}

.bg-yellow {
    background-color: #fded39 !important;
    color: #fff;
}

.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}

.calendarFrame {
    background-color: #97a4db;
}

.signUp {
    background-image: url('../img/class-03-lg.jpg');
    /*opacity: 0.6;*/
}

.signUp {
    position: relative;
    z-index: 1;
    height:100vh;
    display: block;
    position: relative;
}

.signUp:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-image: url('../img/class-03.jpg') no-repeat;*/
    background-color: #a2c7bb;
    opacity: .6;
}



/*.signUp {*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*height:10%;*/
    /*display: block;*/
    /*text-align: center;*/
/*}*/

/*.signUp:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*z-index: -1;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background: url('../img/class-03-lg.jpg') no-repeat;*/
    /*height:100vh;*/
    /*!*width:19000px;*!*/
    /*opacity: .4;*/
/*}*/

h5.signupTitle{
    font-size: large;
    padding-top: 8px;
}

.responsiveCal {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.responsiveCal iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

.responsiveChat {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.responsiveChat iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

.about {
    background-image: url('../img/class-03-lg.jpg');
    /*opacity: 0.6;*/
}

.about {
    position: relative;
    z-index: 1;
    height:100vh;
    display: block;
    position: relative;
}

.about:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-image: url('../img/class-03.jpg') no-repeat;*/
    background-color: #a2c7bb;
    opacity: .6;
}

/*.about {*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*height:1000px;*/
    /*display: block;*/
    /*position: relative;*/
/*}*/

/*.about:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*z-index: -1;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-image: url('../img/class-03-lg.jpg') no-repeat;*/
    /*height:100vh;*/
    /*background-color: #7aa399;*/
    /*opacity: .4;*/
/*}*/