<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<!--Use head fragment or layout will break-->
<head th:replace="fragments/head :: main-head('About Us')">
    <style>
        #about.offset-s1 {
            margin-left: 8.3333333333%;
            border:1px solid red;
        }
    </style>
</head>
<body>
<!--<nav th:include="fragments/signup-nav :: signUpNav"></nav>-->
<header>
    <div class="navbar-fixed">
        <nav th:fragment="parentNavbar" role="navigation">
            <div class="nav-wrapper"> <a href="index.html" class="brand-logo"><img src="img/kidsync-04.png"/></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down" style="margin-right: 40px;">
                    <li><a href="/../home">Home</a></li>
                    <li>
                        <span sec:authorize="!isAuthenticated()"><a href="/login">Login</a></span>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            Logged in as <span th:text="${#authentication.principal.f_name}"> &nbsp;</span>
                            <button class="waves-effect waves-light btn center-align" type="submit" style="margin-left:10px;padding-left:10px;padding-right:10px;">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Move the sidenav outside of .navbar-fixed -->
    <ul class="side-nav" id="mobile-demo">
        <li><a href="/../home">Home</a></li>
        <li>
            <span sec:authorize="!isAuthenticated()"><a href="/login">Login</a></span>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <input class="waves-effect waves-light center-align" type="submit" value="Logout" style="margin-left:15px;padding-left:10px;padding-right:10px;position:relative;font-size:0.95rem;font-weight:500;color:rgba(0,0,0,0.87)"/>
            </form>
        </li>
    </ul>
</header>
<div class="about"> &nbsp;
    <div class="row" style="">
        <p>&nbsp;</p>
        <h3 class="center-align" style="color: #373737"><strong>About Us</strong></h3>
        <p> &nbsp;<br/></p>
        <div class="offset-s1">&nbsp;</div>
        <div id="about" class="col s3 offset-s1 center-align" style="border:1px solid #e8e8e8;background-color: #f9f9f9;padding: 25px;margin-left: 4%;">
            <!--<img src="/img/class-03.jpg"/>-->
            <img src="/img/ArturoValdez.jpg" class="" alt="Teacher Sign Up" style="width: 200px;border-radius: 25px;"/>
            <div class="caption">
                <h5 style="color: #397f77">Art Valdez Jr.</h5>
                <p>
                    My contributions to this project include integrating all of our API's. Namely Google Calendar, Google Translator, Rumble Chat, Datepicker and BookIt. As well as implementing several models, views and controllers.
                </p>
            </div>
            <div>
                    <span>
                        <a href="https://www.linkedin.com/in/arturo-valdez-jr/">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/linkedin-icon.png" width="25"/>
                           </i>
                        </a>
                        <a href="https://github.com/arturva24">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/github-icon.png" width="25"/>
                           </i>
                        </a>
                        <a href="mailto:elvinjterrell@gmail.com">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/email-icon.jpg" width="37"/>
                           </i>
                        </a>
                    </span>
                <!--<a class="right-align" href="#">linkedIn</a>-->
            </div>
        </div>
        <div class="col s3 offset-s1 center-align" style="border:1px solid #e8e8e8;background-color: #f9f9f9;padding: 25px;">
            <img src="/img/MariannaCoindreau.jpg" class="" alt="Parents Sign Up" style="width: 200px;border-radius: 25px;"/>
            <div class="caption">
                <h5 style="color: #397f77">Marianna Coindreau</h5>
                <p>
                    My contributions for this project include designing the Database and implementing all of our CSS utilizing Materialize as well as custom CSS and JavaScript.
                    <br/>
                    <br/>
                </p>
            </div>
            <div>
                    <span>
                        <a href="https://www.linkedin.com/in/mariannacoindreau/">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/linkedin-icon.png" width="25"/>
                           </i>
                        </a>
                        <a href="https://github.com/mcoindreau">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/github-icon.png" width="25"/>
                           </i>
                        </a>
                        <a href="mailto:mariannacoindreau@gmail.com">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/email-icon.jpg" width="37"/>
                           </i>
                        </a>
                    </span>
                <!--<a class="right-align" href="#">linkedIn</a>-->
            </div>
        </div>

        <div class="col s3 offset-s1 center-align" style="border:1px solid #e8e8e8;background-color: #f9f9f9;padding: 25px;">
            <img src="/img/ElvinTerrell.jpg" class="" alt="Parents Sign Up" style="width: 200px;border-radius: 25px;"/>
            <div class="caption">
                <h5 style="color: #397f77">Elvin Terrell</h5>
                <p>
                    My contributions for this project include implementing most of our models, views and controllers and establishing the relationships for that information to be saved and retrieved from the database.
                </p>
                <div>
                    <span>
                        <a href="https://www.linkedin.com/in/devterrell/">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/linkedin-icon.png" width="25"/>
                           </i>
                        </a>
                        <a href="https://www.github.com/ttop34/">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/github-icon.png" width="25"/>
                           </i>
                        </a>
                        <a href="mailto:elvinjterrell@gmail.com">
                            <i class="mdi-action-lock-outline prefix">
                                <img src="img/email-icon.jpg" width="37"/>
                           </i>
                        </a>
                    </span>
                    <!--<a class="right-align" href="#">linkedIn</a>-->
                </div>
            </div>
        </div>
        <div class="offset-s1">&nbsp;</div>
    </div>
</div>
</body>
</html>




