<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/header :: main-header('Welcome')">

</head>
<script type="text/javascript">
    $( window ).ready(function() {

        var wHeight = $(window).height();

        $('.slide')
            .height(wHeight)
            .scrollie({
                scrollOffset : -50,
                scrollingInView : function(elem) {

                    var bgColor = elem.data('background');

                    $('body').css('background-color', bgColor);

                }
            });

    });
</script>
<body>
<!--<nav th:include="fragments/navbar :: mainNavbar"></nav>-->
<header>
    <div class="navbar-fixed">
        <nav role="navigation">
            <div class="nav-wrapper"> <a href="/" class="brand-logo"><img src="img/kidsync-04.png"/></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down" style="margin-right: 40px;">
                    <li>
                        <!--<span><a href="sass.html">Home</a></span>-->
                    </li>
                    <li>
                        <span sec:authorize="!isAuthenticated()"><a href="/signUp">Register</a></span>
                    </li>
                    <li>
                        <span sec:authorize="!isAuthenticated()"><a href="/login">Login</a></span>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            Logged in as <span th:text="${#authentication.principal.f_name}"> &nbsp;</span>
                            <button class="waves-effect waves-light btn center-align" type="submit" style="margin-left:10px;padding-left:10px;padding-right:10px;">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Move the sidenav outside of .navbar-fixed -->
    <ul class="side-nav" id="mobile-demo">
        <li>
            <span sec:authorize="!isAuthenticated()"><a href="/signUp">Register</a></span>
        </li>
        <li>
            <span sec:authorize="!isAuthenticated()"><a href="/login">Login</a></span>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <input class="waves-effect waves-light center-align" type="submit" value="Logout" style="margin-left:15px;padding-left:10px;padding-right:10px;position:relative;font-size:0.95rem;font-weight:500;color:rgba(0,0,0,0.87)"/>
            </form>
        </li>
    </ul>
</header>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="header center white-text text-lighten-2">KidSYNC</h1>
            <div class="row center">
                <h5 class="header col s12 light">A tool to benefit the users/administrators to provide daily solutions</h5>
            </div>
            <div class="row center">
                <a th:href="${'signUp'}" id="get-started" class="btn-large waves-effect waves-light teal lighten-1">Get Synced!</a>
            </div>
            <br/><br/>
        </div>
    </div>
    <div class="parallax"><img src="img/class-01.jpg" alt="Unsplashed background img 1"/></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Grade Book</h5>

                    <p class="center-align light">Provides updated student grades to help track student's progress throught the year</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Student Profile</h5>

                    <p class="center-align light">Where to keep updated on your students progress as in Attendance, grades, and health</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Events</h5>

                    <p class="center-align light">Keep up-to-date on your child's events that are happening around school</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="img/class-02.jpg" alt="Unsplashed background img 2"/></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Everything that you need to communicate with your child's teacher</h4>
                <p class="center-align light">We have an integrated chat system that interconnects all registered parents and their children's teachers. We also make it easy for parents and teachers to email one another directly from their respective dash-boards!</p>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="img/class-03.jpg" alt="Unsplashed background img 3"/></div>
</div>

<footer class="left-align page-footer">
    <div class="left-align footer-copyright">
        <div class="container">
            KidSYNC 2017 &copy;
        </div>
    </div>
</footer>

<!-- jQuery Library -->
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="js/materialize.js"></script>
<!--prism-->
<script type="text/javascript" src="js/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="js/plugins.js"></script>
</body>
</html>