<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<span><h1 th:text="${student.f_name}"></h1></span>
<label for="grades">Grades</label>
<div id="grades" class="col-md-6">
    <div th:each="grade : ${grades}">
        <h3 th:text="${grade.date}"></h3>
        <h3 th:text="${grade.rating}"></h3>
    </div>
</div>

<label for="attendance">Attendance</label>
<div id="attendance" class="col-md-6">
    <div th:each="item : ${attendance}">
        <h2 th:text="${item.status}"></h2>
    </div>
</div>
</body>
</html>