<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form th:action="@{/grades/addGrade}" method="post" th:object="${grade}">
    <label for="rating">Rating</label>
    <select id="rating" name="rating">
        <option value="Satisfactory">Satisfactory</option>
        <option value="UnSatisfactory">UnSatisfactory</option>
        <option value="Needs Improvement">Needs Improvement</option>
    </select>
    <input id="student" type="hidden" name="student" value=""/>
    <input type="submit"/>
</form>

</body>
</html>